* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  overflow-x: hidden;
  background-color: #a5a57f;
}

.about-me {
  background-color: #a5a57f;
}

.about-me .icon img {
  width: 40px;
  height: 40px;
  left: 50%;
  position: relative;
  margin-top: 6vh;
}

.about-me .main-block {
  padding: 0 200px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-me .main-block p {
  color: white;
  font-size: 30px;
  width: 500px;
}

.about-me .main-block img {
  width: 42vh;
  border-radius: 30px;
  height: 60vh;
}
