*
    box-sizing: border-box
    padding: 0
    margin: 0

body
    font-family: Roboto
    overflow-x: hidden

header
    background-color:  #a5a57f
    padding: 20px 50px
    overflow-x: hidden
    .top-side
        display: flex
        align-items: center
        justify-content: space-between
        .logo
            img
                width: 100px
                height: 100px
        nav
            ul
                display: flex
                gap: 30px
                li
                    list-style-type: none
                    a
                        font-size: 20px
                        text-decoration: none
                        color: white
                        transition: all 0.25s
                        &:hover
                            color: #FFDAB9
    .hero-block
        margin-top: 70px
        display: flex
        align-items: center
        padding: 0 340px
        justify-content: space-between
        .left-side
            width: 560px
            h1
                font-size: 60px
                color: white
            p
                font-size: 20px
                color: white
                margin-top: 35px
                line-height: 28px
        .right-side
            img
                width: 370px
                height: 500px
                border-radius: 30px
    .contacts
        margin-top: 170px
        p
            font-size: 30px
            color: white    
            background-color: #BC8F8F
            padding: 0 7px
            width: 157px
            border-radius: 7px
        .wrapper
            display: flex
            flex-direction: column
            margin-top: 25px
            gap: 5px
            a
                font-size: 20px
                text-decoration: none
                color: white

